body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header img {
    height: 100px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    display: block;
}

form input, form select {
    width: 95%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: orange;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #ff7f00;
}


#imagePreview {
    display: none;
    margin-top: 20px;
    max-width: 100%;
    max-height: 300px;
}

#search-results {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.search-result {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f0f0f0;
}

#selected-parts {
    margin-top: 20px;
}

#parts-list {
    list-style: none;
    padding: 0;
}

.selected-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.quantity-input {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #ff1a1a;
}






